.home-bg {
  background: url("/images/start.jpg");
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(
      rgba(24, 17, 15, 0.918),
      rgba(24, 17, 15, 0.644)
    );
    mix-blend-mode: multiply;
    z-index: 0;
  }
}
