.orderbox-s {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 32px 24px;
  max-width: 768px;
  margin: 34px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.orderbox-m {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 32px 24px;
  max-width: 1024px;
  margin: 34px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.orderbox-l {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 32px 24px;
  max-width: 1280px;
  margin: 34px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.orderbox-xl {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 32px 24px;
  max-width: 1440px;
  margin: 34px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media (max-width: 783px) {
  .orderbox-s {
    margin: 34px 10px;
    padding: 32px 10px;
  }
}
@media (max-width: 1039px) {
  .orderbox-m {
    margin: 34px 10px;
    padding: 32px 10px;
  }
}
@media (max-width: 1295px) {
  .orderbox-l {
    margin: 34px 10px;
    padding: 32px 10px;
  }
}
@media (max-width: 1455px) {
  .orderbox-xl {
    margin: 34px 10px;
    padding: 32px 10px;
  }
}

.orderbox-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -60px;
}

.orderbox-step {
  text-align: center;
  flex: 1;
}

.orderbox-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8px;
  background: #fff;
  cursor: pointer;
}
orderbox-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.orderbox-circle{
color: black;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.233);
}
.orderbox-circle.active {
  color: white;
  background: #bb681a;
}

.orderbox-circle.completed {
  color: green;
}

.orderbox-circle.inactive {
  border-color: #ccc;
  background: #fff;
}

.orderbox-content {
  margin-top: 2rem;
}