.quantity-wrapper {
  border-radius: 5px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.quantity-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  color: inherit;
  padding: 4px 6px;
}

.plus-color {
  color: green;
}

.minus-color {
  color: #510b0b;
}
