.shopping-list-container {
  font-family: Inter, -apple-system, system-ui, sans-serif;
  color: #374151;
  font-weight: 450;
}

.shopping-list-item {
  background-color: #f2f2f2;
  border-color: var(--bs-table-border-color);
  border: 1px solid #e5e7eb;
}
.shopping-list-item:nth-child(even) {
  background-color: #ffffff;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  border-top: none;
  border-bottom: none;
}
.shopping-list-item:last-child {
  border-bottom: 1px solid #e5e7eb;
}

