@use 'bootstrap';
@use 'home-page';
@use 'order-box';
@use "quantity-selector";


@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Playfair Display", sans-serif;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
}

main {
  flex: 1;
}

.profile-toggle::after {
  display: none;
}

.profile-modal .modal-dialog {
  max-width: 500px;
  width: 100%;
}

.recipe-card {
  height: 24rem;

  .card-img-top {
    height: 12rem;
    object-fit: cover;
  }
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

.flavorly-divider-orange {
  border: none;
  border-bottom: 1px solid #e0ad05;
  margin: 1.5rem 0;
  opacity: 0.8;
}

.flavorly-divider-gray {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  margin: 1.5rem 0;
  opacity: 0.8;
}

.quantity-wrapper {
  border-radius: 5px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.quantity-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  color: inherit;
  padding: 4px 6px;
}

.flavorly-shadow {
  border: 1px solid #dddddd93;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13);
}

.item-wrapper img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}