@use "bootstrap";
@use "home-page";
@use "order-box";
@use "quantity-selector";
@use "shopping-list";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Playfair Display", sans-serif;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
}

main {
  flex: 1;
}

.profile-toggle::after {
  display: none;
}

.profile-modal .modal-dialog {
  max-width: 500px;
  width: 100%;
}

.recipe-card {
  height: 24rem;

  .card-img-top {
    height: 12rem;
    object-fit: cover;
  }
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

.flavorly-divider-orange {
  border: none;
  border-bottom: 1px solid #e0ad05;
  margin: 1.5rem 0;
  opacity: 0.8;
}

.flavorly-divider-gray {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  margin: 1.5rem 0;
  opacity: 0.8;
}

.flavorly-shadow {
  border: 1px solid #ddddddc2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.137);
}

.item-wrapper img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .item-wrapper img {
    display: none;
  }
}
