.ordersbody {
    font-family: sans-serif;
    max-width: 800px;
    padding-top: 1rem;
    margin: auto;
}

.orderstable {
    border: 1px solid #E5e7eb;
    background-color: #ededed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

tr {
    font-weight: 500;

    th {
        padding: 20px;
    }

}

.OrderHeader {
    background-color: #ededed;
    color: #111827;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

}

.icon-badge {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.storemanagerbtn {
    padding: 7px 14px;
    border-radius: 6px;
    border: none;
    margin-bottom: 2rem;

    &:hover {
        background-color: #ffffff;
    }
}

@media (max-width: 450px) {
    .ordersbody {
        padding: 0;
        margin: 0;
    }

    .OrderHeader {
        max-height: fit-content;
        max-width: 100%;
    }

    .icon-badge {
        position: absolute;
        top: 8rem;
        right: 2rem;
    }
}