.ordersbody {
    font-family: sans-serif;
    max-width: 800px;
    padding-top: 1rem;
    margin: auto;
}

.orderstable {
    border: 1px solid #E5e7eb;
    background-color: #ededed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

tr {
    font-weight: 500;

    th {
        padding: 20px;
    }

}

.OrderHeader {
    background-color: #ededed;
    color: #111827;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

}

.icon-badge {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.storemanagerbtn {
    padding: 7px 14px;
    border-radius: 6px;
    border: none;
    margin-bottom: 2rem;

    &:hover {
        background-color: #ffffff;
    }
}

.unit-inline {
    display: none;
}

@media (max-width: 640px) {

    .order-items-table .col-units,
    .order-items-table .cell-units {
        display: none;
    }

    .order-items-table .cell-amount .unit-inline {
        display: block;

        font-size: 1.1rem;
        margin-top: 1px;
    }

}

@media (max-width: 429px) {
    .order-items-table {
        max-width: 90%;
        font-size: 11px;
    }

    th {
        padding: 0;
    }

    tr {
        padding: 0;
    }

    .order-items-table .cell-amount .unit-inline {
        font-size: 10px;
    }

    .OrderHeader {
        width: 90%;
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }


}